<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="AI" title="msg://com.vn.agent/menu.addon" opened="true">
        <item id="aiAgent.chat" view="AiAgent_Chat"
              title="msg://com.vn.agent/menu.chat"/>
        <item id="aiAgent.baselineContext" view="AiAgent_BaselineContext"
              title="msg://com.vn.agent/menu.baselineContext"/>
        <item id="aiAgent.conversations" view="AiAgent_Conversation.list"
              title="msg://com.vn.agent/menu.conversations"/>
        <item id="aiAgent.parameters.list" view="AiAgent_Parameters.list"
              title="msg://com.vn.agent/menu.parameters"/>
        <item id="aiAgent.knowledge.list" view="AiAgent_KnowledgeBase.list"
              title="msg://com.vn.agent/menu.knowledge"/>
        <item id="aiAgent.audit.list" view="AiAgent_AiAuditEvent.list"
              title="msg://com.vn.agent/menu.audit"/>
    </menu>

</menu-config>
