MAIN_DATASOURCE_URL=
MAIN_DATASOURCE_USERNAME=
MAIN_DATASOURCE_PASSWORD=
AGENTSTORE_DATASOURCE_URL=
AGENTSTORE_DATASOURCE_USERNAME=
AGENTSTORE_DATASOURCE_PASSWORD=
JMIX_UI_LOGIN_DEFAULT_USERNAME=
JMIX_UI_LOGIN_DEFAULT_PASSWORD=
OPENROUTER_API_KEY=
